@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-800 antialiased;
}

/* Scrollbar fine et moderne */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}